<!doctype html>
<title>{% block title %}{% endblock %} - Weather</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='script.js') }}"></script>

<nav>
    <h2>Weather App</h2>
    <div class="user">
        {% if current_user.is_authenticated %}
        <b>{{ current_user.username }}</b>
        <a id="logout" href="{{ url_for('auth.logout') }}">Log Out</a>
        {% endif %}
    </div>
</nav>

{% if current_user.is_authenticated %}
<div class="locationWrapper">

    <div class="locationList">
        <b>Your Locations</b>
        {% for location in locations %}
        {% if location %}
        <div class="list">
            <p>{{ location['city'] + ', ' + location['country'] }}</p>
            <button style="width: fit-content;"
                onclick="viewLocation( '{{ location.longitude }}', '{{ location.latitude }}')">View</button>
            <form action="{{ url_for('weather.delete', id=location['id']) }}" method="post">
                <input id="deleteButton" style="width: 100%; margin-top: 13px; margin-left:5px" type="submit"
                    value="Delete" onclick="return confirm('Are you sure?');">
            </form>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}


<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>

    {% block content %}{% endblock %}
</section>