html {
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: rgb(77, 229, 255);
  background: linear-gradient(
    rgba(77, 229, 255, 1) 0%,
    rgba(85, 30, 180, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
}

.container,
.authContainer,
.user,
nav {
  display: flex;
  align-items: center;
}

nav {
  justify-content: space-between;
  width: 100%;
  padding: 30px;
}

.authContainer {
  justify-content: center;
}

#logout {
  margin-left: 20px;
  text-decoration: none;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
}

.locationWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.locationList {
  border: 5px solid white;
  border-radius: 8px;
  padding: 20px;
  max-height: 120px;
  overflow: auto;
}

.list {
  padding: 10px;
  margin-top: 10px;
  font-size: 20px;
  cursor: pointer;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.results {
  border-left: 1px solid white;
  padding: 50px;
  margin-left: 80px;
}

section {
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}

#weatherForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.formWrapper {
  border: 5px solid white;
  border-radius: 8px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

h1 {
  font-size: 80px;
  text-align: center;
  width: 100%;
}

#btnsubmit,
button,
input,
select {
  padding: 10px;
  border-radius: 8px;
  width: 50%;
}

#btnsubmit,
button,
#logout {
  background: black;
  color: white;
}

button {
  margin: auto 0;
  cursor: pointer;
}

label,
select,
input {
  margin-bottom: 15px;
}

label {
  font-size: 20px;
}

#btnsubmit {
  cursor: pointer;
}

.flash {
  text-align: center;
  text-decoration: underline;
  width: 50%;
  color: black;
}

.details {
  display: flex;
}

.box {
  padding: 20px;
  margin-left: 20px;
  background: #000000;
  border-radius: 8px;
  opacity: 50;
}

img {
  width: 150px;
}

#temp {
  font-size: 80px;
}

#condition {
  margin-top: -30px;
  font-size: 20px;
}

.coords {
  font-size: 40px;
}
